// Background
$body-bg-color: #E5E5E5;
$main-bg-color: #FFF;
// Colors
$title-color: #1C1C1C;
$text-color: #545454;
$input-color: #969696;
$border-color: #E4E4E4;
$accent-color: #007BFF;
// Fonts
$title-font: 500 24px / 1.33 'RobotoMedium', sans-serif;
$lable-font: 400 15px / 1.47 'RobotoRegular', sans-serif;
$privat-font: 400 13px / 1.38 'RobotoRegular', sans-serif;
$button-font: 500 15px / 1.47 'RobotoMedium', sans-serif;
$input-font: 400 15px / 1.47 'InterRegular', sans-serif;